/* screen - macbook-pro-14-2 */

.macbook-pro-14-2 {
  align-items: flex-end;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 8683px;
  overflow: hidden;
  width: 1512px;
}

.macbook-pro-14-2 .overlap-group11 {
  height: 843px;
  margin-right: -60.91px;
  margin-top: -85px;
  position: relative;
  width: 1508px;
}

.macbook-pro-14-2 .qevyy {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 118px;
  width: 236px;
}

.macbook-pro-14-2 .about {
  left: 163px;
  letter-spacing: 0;
  position: absolute;
  top: 129px;
  width: 236px;
}

.macbook-pro-14-2 .product {
  left: 273px;
  letter-spacing: 0;
  position: absolute;
  top: 129px;
  width: 236px;
}

.macbook-pro-14-2 .pricing {
  left: 399px;
  letter-spacing: 0;
  position: absolute;
  top: 129px;
  width: 236px;
}

.macbook-pro-14-2 .discord {
  left: 513px;
  letter-spacing: 0;
  position: absolute;
  top: 129px;
  width: 236px;
}

.macbook-pro-14-2 .header {
  align-items: flex-start;
  display: flex;
  height: 843px;
  left: 43px;
  min-width: 1465px;
  position: absolute;
  top: 0;
}

.macbook-pro-14-2 .your-business-container {
  align-self: center;
  height: 303px;
  margin-top: 142.19px;
  position: relative;
  width: 580px;
}

.macbook-pro-14-2 .crypto-banking-for-your-business {
  color: var(--white);
  font-family: var(--font-family-craftwork_sans-bold);
  font-size: var(--font-size-xl);
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 580px;
}

.macbook-pro-14-2 .manage-your-business {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 192px;
  width: 580px;
}

.macbook-pro-14-2 .overlap-group1 {
  height: 845px;
  margin-left: 2px;
  margin-top: -1.1px;
  position: relative;
  width: 880px;
}

.macbook-pro-14-2 .euro {
  height: 640px;
  left: 406px;
  position: absolute;
  top: 165px;
  width: 474px;
}

.macbook-pro-14-2 .dollar {
  height: 845px;
  left: 0;
  position: absolute;
  top: 0;
  width: 479px;
}

.macbook-pro-14-2 .rectangle-5 {
  height: 65px;
  left: 43px;
  position: absolute;
  top: 684px;
  width: 271px;
}

.macbook-pro-14-2 .get-started-1 {
  left: 99px;
  letter-spacing: 0;
  position: absolute;
  top: 702px;
  width: 125px;
}

.macbook-pro-14-2 .line-1-1 {
  height: 8px;
  left: 232px;
  position: absolute;
  top: 715px;
  width: 26px;
}

.macbook-pro-14-2 .flex-row-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 205px;
  margin-left: 21.0px;
  margin-top: 140px;
  min-width: 1081px;
}

.macbook-pro-14-2 .overlap-group6 {
  align-self: center;
  height: 42px;
  margin-bottom: 79.5px;
  position: relative;
  width: 99px;
}

.macbook-pro-14-2 .dot {
  background-color: var(--white);
  height: 8px;
  left: 0;
  position: absolute;
  top: 0;
  width: 8px;
}

.macbook-pro-14-2 .logo {
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.macbook-pro-14-2 .mastercard {
  align-items: center;
  display: flex;
  height: 102px;
  margin-left: 169px;
  margin-top: 12px;
  min-width: 102px;
  padding: 0 3.2px;
}

.macbook-pro-14-2 .overlap-group5 {
  height: 57px;
  position: relative;
  width: 96px;
}

.macbook-pro-14-2 .left {
  background-color: var(--white);
  border-radius: 28.69px;
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 57px;
}

.macbook-pro-14-2 .right {
  background-color: var(--white);
  border-radius: 28.69px;
  height: 57px;
  left: 38px;
  position: absolute;
  top: 0;
  width: 57px;
}

.macbook-pro-14-2 .middle {
  height: 44px;
  left: 38px;
  position: absolute;
  top: 7px;
  width: 20px;
}

.macbook-pro-14-2 .american_express {
  align-items: center;
  display: flex;
  height: 97px;
  margin-left: 123px;
  margin-top: 15px;
  min-width: 97px;
  padding: 0 6.1px;
}

.macbook-pro-14-2 .overlap-group4 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 85px;
  justify-content: flex-end;
  min-width: 85px;
  padding: 12.9px 0;
}

.macbook-pro-14-2 .american_express-1 {
  height: 59px;
  width: 66px;
}

.macbook-pro-14-2 .netflix {
  align-self: flex-end;
  height: 94px;
  margin-left: 193px;
  width: 91px;
}

.macbook-pro-14-2 .figma {
  height: 121px;
  margin-left: 86px;
  width: 121px;
}

.macbook-pro-14-2 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: -220.84px;
  margin-top: 59px;
  min-height: 7306px;
  width: 1733px;
}

.macbook-pro-14-2 .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 104.49px;
  min-height: 5127px;
  width: 1314px;
}

.macbook-pro-14-2 .x10 {
  height: 206px;
  margin-left: 37.57px;
  width: 191px;
}

.macbook-pro-14-2 .the-first-platform-t {
  color: var(--white);
  font-family: var(--font-family-craftwork_sans-medium);
  font-size: 65px;
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 111px;
  min-height: 150px;
  text-align: center;
  width: 1314px;
}

.macbook-pro-14-2 .overlap-group8 {
  height: 2765px;
  margin-right: 3.0px;
  margin-top: 53px;
  position: relative;
  width: 1197px;
}

.macbook-pro-14-2 .rectangle-10 {
  height: 482px;
  left: 80px;
  position: absolute;
  top: 940px;
  width: 519px;
}

.macbook-pro-14-2 .rectangle-11 {
  height: 482px;
  left: 599px;
  position: absolute;
  top: 458px;
  width: 519px;
}

.macbook-pro-14-2 .core-features {
  left: 80px;
  letter-spacing: 0;
  position: absolute;
  top: 344px;
  width: 906px;
}

.macbook-pro-14-2 .whats-special {
  left: 772px;
  letter-spacing: 0;
  position: absolute;
  top: 1694px;
  width: 425px;
}

.macbook-pro-14-2 .rectangle-18 {
  height: 65px;
  left: 463px;
  position: absolute;
  top: 1531px;
  width: 271px;
}

.macbook-pro-14-2 .get-started-2 {
  left: 519px;
  letter-spacing: 0;
  position: absolute;
  top: 1549px;
  width: 125px;
}

.macbook-pro-14-2 .line-2 {
  height: 8px;
  left: 652px;
  position: absolute;
  top: 1562px;
  width: 26px;
}

.macbook-pro-14-2 .group-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 74px;
  min-height: 2736px;
  position: absolute;
  top: 0;
  width: 1111px;
}

.macbook-pro-14-2 .overlap-group2 {
  align-self: center;
  height: 869px;
  margin-right: 5.0px;
  position: relative;
  width: 966px;
}

.macbook-pro-14-2 .group-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 869px;
  position: absolute;
  top: 0;
  width: 966px;
}

.macbook-pro-14-2 .lorem-ipsum-dolor-si {
  align-self: center;
  letter-spacing: 0;
  margin-right: 4.0px;
  min-height: 77px;
  text-align: center;
  width: 412px;
}

.macbook-pro-14-2 .flex-row-2 {
  align-items: flex-end;
  display: flex;
  height: 355px;
  margin-left: -0.46px;
  margin-top: 437px;
  min-width: 956px;
}

.macbook-pro-14-2 .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 355px;
  width: 413px;
}

.macbook-pro-14-2 .x24 {
  height: 150px;
  width: 148px;
}

.macbook-pro-14-2 .create-and-manage-payroll-seamlessly {
  letter-spacing: 0;
  margin-left: 0.46px;
  margin-top: 37px;
  min-height: 77px;
  width: 359px;
}

.macbook-pro-14-2 .pay-your-employees-w {
  letter-spacing: 0;
  margin-left: 1.46px;
  margin-top: 14px;
  min-height: 77px;
  width: 412px;
}

.macbook-pro-14-2 .expense-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 131px;
  min-height: 168px;
  width: 412px;
}

.macbook-pro-14-2 .transcation-logs-expense-reports {
  letter-spacing: 0;
  min-height: 77px;
  width: 403px;
}

.macbook-pro-14-2 .track-expenses-sens {
  color: #515151;
  font-family: var(--font-family-craftwork_sans-medium);
  font-size: var(--font-size-xs);
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 14px;
  min-height: 77px;
  width: 412px;
}

.macbook-pro-14-2 .x17 {
  height: 190px;
  left: 540px;
  position: absolute;
  top: 489px;
  width: 181px;
}

.macbook-pro-14-2 .flex-row-3 {
  align-items: center;
  display: flex;
  margin-left: 67.77px;
  margin-top: 139px;
  min-width: 711px;
}

.macbook-pro-14-2 .x16 {
  height: 195px;
  width: 178px;
}

.macbook-pro-14-2 .x21 {
  height: 175px;
  margin-left: 374px;
  margin-top: 4.34px;
  width: 159px;
}

.macbook-pro-14-2 .flex-row-4 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 77px;
  margin-right: 63.0px;
  margin-top: 11px;
  min-width: 912px;
}

.macbook-pro-14-2 .transact-securely-a {
  letter-spacing: 0;
  min-height: 77px;
  width: 359px;
}

.macbook-pro-14-2 .billing-invoicing-and-accounting {
  letter-spacing: 0;
  margin-left: 194px;
  min-height: 77px;
  width: 359px;
}

.macbook-pro-14-2 .flex-row-5 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 77px;
  margin-right: 2.0px;
  margin-top: 14px;
  min-width: 973px;
}

.macbook-pro-14-2 .create-cards-for-ven {
  color: #575757;
  font-family: var(--font-family-craftwork_sans-medium);
  font-size: var(--font-size-xs);
  font-weight: 500;
  letter-spacing: 0;
  min-height: 77px;
  width: 420px;
}

.macbook-pro-14-2 .accounting-made-easy {
  letter-spacing: 0;
  margin-left: 133px;
  min-height: 77px;
  width: 420px;
}

.macbook-pro-14-2 .x26 {
  align-self: center;
  height: 190px;
  margin-left: 398.54px;
  margin-top: 486px;
  width: 181px;
}

.macbook-pro-14-2 .flex-row-6 {
  align-items: flex-start;
  display: flex;
  height: 77px;
  margin-left: 3px;
  margin-top: 25px;
  min-width: 1036px;
}

.macbook-pro-14-2 .create-and-manage-payroll-seamlessly-1 {
  letter-spacing: 0;
  min-height: 77px;
  width: 359px;
}

.macbook-pro-14-2 .transcation-logs-expense-reports-1 {
  letter-spacing: 0;
  margin-left: 318px;
  min-height: 77px;
  width: 359px;
}

.macbook-pro-14-2 .lorem-ipsum-dolor-si-container {
  align-items: flex-start;
  display: flex;
  height: 77px;
  margin-left: 4px;
  margin-top: 14px;
  min-width: 1087px;
}

.macbook-pro-14-2 .lorem-ipsum-dolor-si-1 {
  letter-spacing: 0;
  min-height: 77px;
  width: 412px;
}

.macbook-pro-14-2 .lorem-ipsum-dolor-si-2 {
  letter-spacing: 0;
  margin-left: 263px;
  min-height: 77px;
  width: 412px;
}

.macbook-pro-14-2 .x25 {
  height: 195px;
  margin-left: -0.23px;
  margin-top: 111px;
  width: 178px;
}

.macbook-pro-14-2 .transact-securely-a-1 {
  letter-spacing: 0;
  margin-top: 11px;
  min-height: 77px;
  width: 359px;
}

.macbook-pro-14-2 .lorem-ipsum-dolor-si-3 {
  letter-spacing: 0;
  margin-top: 14px;
  min-height: 77px;
  width: 420px;
}

.macbook-pro-14-2 .rectangle-7 {
  height: 479px;
  left: 0;
  position: absolute;
  top: 1808px;
  width: 599px;
}

.macbook-pro-14-2 .rectangle-9 {
  height: 479px;
  left: 0;
  position: absolute;
  top: 2286px;
  width: 599px;
}

.macbook-pro-14-2 .rectangle-8 {
  height: 479px;
  left: 598px;
  position: absolute;
  top: 1808px;
  width: 599px;
}

.macbook-pro-14-2 .x23 {
  height: 326px;
  left: 755px;
  position: absolute;
  top: 2377px;
  width: 286px;
}

.macbook-pro-14-2 .line-4 {
  height: 144px;
  left: 626px;
  position: absolute;
  top: 90px;
  width: 3px;
}

.macbook-pro-14-2 .x12 {
  height: 156px;
  left: 80px;
  position: absolute;
  top: 1892px;
  width: 146px;
}

.macbook-pro-14-2 .overlap-group18 {
  align-items: flex-start;
  border-radius: 4px;
  display: flex;
  height: 67px;
  margin-right: 11.0px;
  margin-top: 159px;
  min-width: 273px;
  padding: 18px 56px;
}

.macbook-pro-14-2 .get-started {
  letter-spacing: 0;
  min-height: 30px;
  width: 125px;
}

.macbook-pro-14-2 .line {
  align-self: center;
  height: 8px;
  margin-left: 8px;
  margin-top: 3.0px;
  width: 26px;
}

.macbook-pro-14-2 .as-flexible-as-you {
  align-self: flex-start;
  letter-spacing: 0;
  margin-left: 43px;
  margin-top: 135px;
  min-height: 114px;
  text-align: center;
  width: 435px;
}

.macbook-pro-14-2 .overlap-group17 {
  height: 392px;
  margin-right: 3.0px;
  margin-top: 46px;
  position: relative;
  width: 969px;
}

.macbook-pro-14-2 .card-9 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  left: 619px;
  min-height: 220px;
  padding: 25px 15px;
  position: absolute;
  top: 0;
  width: 350px;
}

.macbook-pro-14-2 .flex-row {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-right: 1.4px;
  min-width: 315px;
}

.macbook-pro-14-2 .qevy {
  color: var(--white);
  font-family: var(--font-family-craftwork_grotesk-bold);
  font-size: var(--font-size-xxxs);
  font-weight: 700;
  letter-spacing: 0;
  min-height: 14px;
  width: 66px;
}

.macbook-pro-14-2 .visa {
  align-self: flex-end;
  height: 14px;
  margin-left: 205px;
  width: 44px;
}

.macbook-pro-14-2 .card-number {
  align-items: flex-start;
  display: flex;
  height: 22px;
  margin-left: 2px;
  margin-top: 63px;
  min-width: 207px;
}

.macbook-pro-14-2 .number {
  letter-spacing: 0;
  min-height: 22px;
  min-width: 37px;
}

.macbook-pro-14-2 .number-1 {
  letter-spacing: 0;
  margin-left: 20px;
  min-height: 22px;
  min-width: 37px;
}

.macbook-pro-14-2 .number-2 {
  letter-spacing: 0;
  margin-left: 21px;
  min-height: 22px;
  min-width: 34px;
}

.macbook-pro-14-2 .number-3 {
  letter-spacing: 0;
  margin-left: 21px;
  min-height: 22px;
}

.macbook-pro-14-2 .name-expiry {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 14px;
  margin-top: 55px;
  min-width: 318px;
}

.macbook-pro-14-2 .name {
  letter-spacing: 0;
  min-height: 14px;
  width: 62px;
}

.macbook-pro-14-2 .text {
  letter-spacing: 0;
  margin-left: 221px;
  min-height: 14px;
  width: 31px;
}

.macbook-pro-14-2 .group-6 {
  align-items: flex-start;
  display: flex;
  height: 353px;
  left: 0;
  min-width: 864px;
  position: absolute;
  top: 39px;
}

.macbook-pro-14-2 .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 284px;
  width: 340px;
}

.macbook-pro-14-2 .surname {
  letter-spacing: 0;
  min-height: 37px;
  width: 329px;
}

.macbook-pro-14-2 .startup-plans {
  letter-spacing: 0;
  margin-left: 6px;
  margin-top: 90px;
  min-height: 37px;
  width: 195px;
}

.macbook-pro-14-2 .place {
  align-self: flex-end;
  letter-spacing: 0;
  margin-top: 83px;
  min-height: 37px;
  width: 329px;
}

.macbook-pro-14-2 .card-container {
  align-self: flex-end;
  height: 309px;
  margin-left: 76px;
  position: relative;
  width: 442px;
}

.macbook-pro-14-2 .card-3 {
  align-items: flex-end;
  background-image: url(../img/card-3@2x.svg);
  background-size: 100% 100%;
  border-radius: 10px;
  display: flex;
  height: 220px;
  left: 92px;
  min-width: 350px;
  padding: 9px 14.7px;
  position: absolute;
  top: 0;
}

.macbook-pro-14-2 .overlap-group {
  height: 185px;
  position: relative;
  width: 319px;
}

.macbook-pro-14-2 .card-details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 3px;
  min-height: 168px;
  position: absolute;
  top: 0;
  width: 316px;
}

.macbook-pro-14-2 .flex-row-7 {
  align-items: flex-start;
  display: flex;
  height: 99px;
  min-width: 314px;
}

.macbook-pro-14-2 .flex-col-4 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 99px;
  width: 207px;
}

.macbook-pro-14-2 .qevy-1 {
  color: var(--black);
  font-family: var(--font-family-craftwork_sans-bold);
  font-size: var(--font-size-xxxs);
  font-weight: 700;
  letter-spacing: 0;
  min-height: 14px;
  width: 66px;
}

.macbook-pro-14-2 .card-number-1 {
  align-items: flex-start;
  display: flex;
  height: 22px;
  margin-top: 63px;
  min-width: 207px;
}

.macbook-pro-14-2 .ask-mastercard-logo {
  height: 31px;
  margin-left: 57px;
  width: 50px;
}

.macbook-pro-14-2 .name-expiry-1 {
  align-items: flex-start;
  display: flex;
  height: 14px;
  margin-top: 55px;
  min-width: 318px;
}

.macbook-pro-14-2 .ellipse-3 {
  height: 151px;
  left: 105px;
  position: absolute;
  top: 34px;
  width: 152px;
}

.macbook-pro-14-2 .ellipse-6 {
  height: 150px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 149px;
}

.macbook-pro-14-2 .card-7 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 220px;
  padding: 25px 15px;
  position: absolute;
  top: 89px;
  width: 350px;
}

.macbook-pro-14-2 .x10-m-in-monthly-volume {
  left: 11px;
  letter-spacing: 0;
  position: absolute;
  top: 335px;
  width: 197px;
}

.macbook-pro-14-2 .post-first-raise {
  left: 11px;
  letter-spacing: 0;
  position: absolute;
  top: 214px;
  width: 197px;
}

.macbook-pro-14-2 .you-define-your-metrics {
  left: 6px;
  letter-spacing: 0;
  position: absolute;
  top: 93px;
  width: 251px;
}

.macbook-pro-14-2 .overlap-group21 {
  align-items: center;
  background-image: url(../img/rectangle-24@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 65px;
  justify-content: flex-end;
  margin-right: 11.0px;
  margin-top: 207px;
  min-width: 271px;
  padding: 17px 55.5px;
}

.macbook-pro-14-2 .get-started-3 {
  align-self: flex-end;
  letter-spacing: 0;
  min-height: 30px;
  width: 125px;
}

.macbook-pro-14-2 .line-8 {
  height: 8px;
  margin-left: 8px;
  margin-top: 5.0px;
  width: 26px;
}

.macbook-pro-14-2 .our-users-are-happy {
  align-self: flex-end;
  letter-spacing: 0;
  margin-right: 118px;
  margin-top: 249px;
  min-height: 114px;
  text-align: center;
  width: 540px;
}

.macbook-pro-14-2 .flex-row-8 {
  align-items: flex-start;
  display: flex;
  height: 84px;
  margin-right: 1.0px;
  margin-top: 77px;
  min-width: 1207px;
}

.macbook-pro-14-2 .unsplashx6-s3-z0v-zxj4 {
  height: 78px;
  width: 78px;
}

.macbook-pro-14-2 .overlap-group19 {
  align-self: flex-end;
  height: 74px;
  margin-bottom: 2px;
  margin-left: 28px;
  position: relative;
  width: 396px;
}

.macbook-pro-14-2 .name-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 396px;
}

.macbook-pro-14-2 .ceo-eth {
  left: 263px;
  letter-spacing: 0;
  position: absolute;
  top: 17px;
}

.macbook-pro-14-2 .unsplash-qt0og-pnh-gwy {
  height: 78px;
  margin-left: 201px;
  width: 78px;
}

.macbook-pro-14-2 .overlap-group16 {
  align-self: flex-end;
  height: 74px;
  margin-left: 30px;
  position: relative;
  width: 396px;
}

.macbook-pro-14-2 .overlap-group-container {
  align-items: flex-start;
  display: flex;
  height: 116px;
  margin-right: 10.0px;
  margin-top: 17px;
  min-width: 1166px;
}

.macbook-pro-14-2 .overlap-group22 {
  align-self: flex-end;
  height: 115px;
  position: relative;
  width: 463px;
}

.macbook-pro-14-2 .rectangle-17 {
  height: 43px;
  left: 19px;
  position: absolute;
  top: 72px;
  width: 320px;
}

.macbook-pro-14-2 .lorem-ipsum-dolor-si-4 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 463px;
}

.macbook-pro-14-2 .overlap-group10 {
  height: 78px;
  margin-left: 240px;
  position: relative;
  width: 463px;
}

.macbook-pro-14-2 .rectangle-15 {
  height: 43px;
  left: 92px;
  position: absolute;
  top: 0;
  width: 210px;
}

.macbook-pro-14-2 .lorem-ipsum-dolor-si-5 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 1px;
  width: 463px;
}

.macbook-pro-14-2 .flex-row-9 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 102px;
  margin-right: 211.35px;
  margin-top: 190px;
  min-width: 1207px;
}

.macbook-pro-14-2 .unsplashf3vw-a-xn7pgg {
  height: 78px;
  margin-top: 2.0px;
  width: 78px;
}

.macbook-pro-14-2 .overlap-group20 {
  align-self: flex-end;
  height: 74px;
  margin-left: 28px;
  position: relative;
  width: 396px;
}

.macbook-pro-14-2 .unsplash_h-qfq-ht0-m-tg {
  align-self: flex-start;
  height: 78px;
  margin-left: 201px;
  width: 78px;
}

.macbook-pro-14-2 .overlap-group15 {
  height: 74px;
  margin-left: 30px;
  margin-top: 10.0px;
  position: relative;
  width: 396px;
}

.macbook-pro-14-2 .flex-row-10 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 1190px;
  min-width: 1586px;
}

.macbook-pro-14-2 .flex-col-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 13px;
  min-height: 1024px;
  width: 721px;
}

.macbook-pro-14-2 .overlap-group12 {
  height: 77px;
  margin-left: 22px;
  position: relative;
  width: 467px;
}

.macbook-pro-14-2 .rectangle-23 {
  height: 43px;
  left: 0;
  position: absolute;
  top: 0;
  width: 303px;
}

.macbook-pro-14-2 .lorem-ipsum-dolor-si-6 {
  left: 4px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 463px;
}

.macbook-pro-14-2 .join-the-conversation {
  letter-spacing: 0;
  margin-top: 265px;
  min-height: 114px;
  text-align: center;
  width: 540px;
}

.macbook-pro-14-2 .overlap-group9 {
  height: 93px;
  margin-left: 11px;
  margin-top: 89px;
  position: relative;
  width: 631px;
}

.macbook-pro-14-2 .line-1 {
  height: 30px;
  left: 498px;
  position: absolute;
  top: 32px;
  width: 67px;
}

.macbook-pro-14-2 .image-1-traced {
  height: 93px;
  left: 0;
  position: absolute;
  top: 0;
  width: 93px;
}

.macbook-pro-14-2 .rectangle-2 {
  height: 93px;
  left: 0;
  position: absolute;
  top: 0;
  width: 631px;
}

.macbook-pro-14-2 .join-discord-server {
  left: 154px;
  letter-spacing: 0;
  position: absolute;
  top: 23px;
  width: 360px;
}

.macbook-pro-14-2 .overlap-group13 {
  height: 93px;
  margin-left: 11px;
  margin-top: 43px;
  position: relative;
  width: 631px;
}

.macbook-pro-14-2 .open-an-account {
  left: 172px;
  letter-spacing: 0;
  position: absolute;
  top: 23px;
  width: 360px;
}

.macbook-pro-14-2 .lorem-ipsum-dolor-si-7 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-top: 173px;
  min-height: 77px;
  width: 710px;
}

.macbook-pro-14-2 .flex-col-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  min-height: 1190px;
  width: 857px;
}

.macbook-pro-14-2 .overlap-group7 {
  height: 77px;
  position: relative;
  width: 463px;
}

.macbook-pro-14-2 .rectangle-16 {
  height: 43px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 320px;
}

.macbook-pro-14-2 .lorem-ipsum-dolor-si-8 {
  left: 5px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 458px;
}

.macbook-pro-14-2 .x2 {
  align-self: flex-end;
  height: 864px;
  margin-top: 249px;
  width: 797px;
}

.macbook-pro-14-2 .line-5 {
  height: 1px;
  margin-top: 204px;
  width: 1513px;
}

.macbook-pro-14-2 .flex-row-11 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 174px;
  margin-right: 226.35px;
  margin-top: 236px;
  min-width: 1144px;
}

.macbook-pro-14-2 .title {
  color: var(--white);
  font-family: var(--font-family-craftwork_sans-medium);
  font-size: 100px;
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 26px;
  min-height: 69px;
  width: 711px;
}

.macbook-pro-14-2 .california-office-95 {
  letter-spacing: 0;
  margin-left: 198px;
  min-height: 174px;
}

.macbook-pro-14-2 .overlap-group14 {
  align-items: flex-start;
  border-radius: 4px;
  display: flex;
  height: 67px;
  margin-left: 180.49px;
  margin-top: 15px;
  min-width: 273px;
  padding: 18px 56px;
}
