/* screen - iphone-13-13-pro-1 */

.iphone-13-13-pro-1 {
  background-color: var(--black);
  height: 10033px;
  overflow: hidden;
  position: relative;
  width: 390px;
}

.iphone-13-13-pro-1 .group-8 {
  height: 323px;
  left: 122px;
  position: absolute;
  top: -66px;
  width: 336px;
}

.iphone-13-13-pro-1 .overlap-group10 {
  height: 303px;
  left: 31px;
  position: absolute;
  top: 353px;
  width: 323px;
}

.iphone-13-13-pro-1 .banking-for-your-business {
  color: var(--white);
  font-family: var(--font-family-craftwork_sans-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 323px;
}

.iphone-13-13-pro-1 .rectangle-5 {
  height: 65px;
  left: 29px;
  position: absolute;
  top: 238px;
  width: 271px;
}

.iphone-13-13-pro-1 .get-started-2 {
  left: 85px;
  letter-spacing: 0;
  position: absolute;
  top: 256px;
  width: 125px;
}

.iphone-13-13-pro-1 .line-1 {
  height: 8px;
  left: 218px;
  position: absolute;
  top: 269px;
  width: 26px;
}

.iphone-13-13-pro-1 .manage-your-business {
  color: var(--white);
  font-family: var(--font-family-craftwork_sans-regular);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  left: 2px;
  letter-spacing: 0;
  position: absolute;
  top: 108px;
  width: 313px;
}

.iphone-13-13-pro-1 .crypto {
  color: var(--white);
  font-family: var(--font-family-craftwork_sans-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  left: 31px;
  letter-spacing: 0;
  position: absolute;
  top: 313px;
  width: 323px;
}

.iphone-13-13-pro-1 .line-container {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  left: 16px;
  min-height: 46px;
  padding: 13.5px 7.5px;
  position: absolute;
  top: 24px;
  width: 46px;
}

.iphone-13-13-pro-1 .line-10-2 {
  height: 1px;
  width: 28px;
}

.iphone-13-13-pro-1 .line-11 {
  height: 2px;
  margin-left: 0.01px;
  margin-top: 7px;
  width: 28px;
}

.iphone-13-13-pro-1 .line-12 {
  height: 2px;
  margin-left: 0.01px;
  margin-top: 6px;
  width: 28px;
}

.iphone-13-13-pro-1 .image-2-traced {
  height: 16px;
  left: 29px;
  position: absolute;
  top: 759px;
  width: 74px;
}

.iphone-13-13-pro-1 .enverlogo-1-1-traced {
  height: 12px;
  left: 128px;
  position: absolute;
  top: 761px;
  width: 80px;
}

.iphone-13-13-pro-1 .group-8-1 {
  align-items: flex-start;
  display: flex;
  height: 15px;
  left: 293px;
  min-width: 73px;
  position: absolute;
  top: 759px;
}

.iphone-13-13-pro-1 .overlap-group {
  height: 15px;
  margin-top: -0.02px;
  position: relative;
  width: 71px;
}

.iphone-13-13-pro-1 .image-4-traced {
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 66px;
}

.iphone-13-13-pro-1 .pro {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 9px;
  font-style: italic;
  font-weight: 500;
  left: 48px;
  letter-spacing: 0;
  position: absolute;
  top: 3px;
  width: 23px;
}

.iphone-13-13-pro-1 .image-3-traced {
  height: 35px;
  left: 233px;
  position: absolute;
  top: 750px;
  width: 35px;
}

.iphone-13-13-pro-1 .trusted-by {
  color: var(--white);
  font-family: var(--font-family-craftwork_sans-regular);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  left: 144px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 701px;
  width: 103px;
}

.iphone-13-13-pro-1 .x24 {
  height: 206px;
  left: 102px;
  position: absolute;
  top: 872px;
  width: 191px;
}

.iphone-13-13-pro-1 .overlap-group16 {
  height: 325px;
  left: -11px;
  position: absolute;
  top: 1138px;
  width: 412px;
}

.iphone-13-13-pro-1 .the-first-platform-t {
  color: var(--white);
  font-family: var(--font-family-craftwork_sans-medium);
  font-size: 28px;
  font-weight: 500;
  left: 31px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 351px;
}

.iphone-13-13-pro-1 .connect-your-wallet {
  color: var(--nobel);
  font-family: var(--font-family-craftwork_sans-medium);
  font-size: 14px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 130px;
  width: 412px;
}

.iphone-13-13-pro-1 .line-10-3 {
  height: 143px;
  left: 204px;
  position: absolute;
  top: 182px;
  width: 3px;
}

.iphone-13-13-pro-1 .core-features {
  left: 81px;
  letter-spacing: 0;
  position: absolute;
  top: 1507px;
  width: 225px;
}

.iphone-13-13-pro-1 .x25 {
  height: 150px;
  left: 120px;
  position: absolute;
  top: 1595px;
  width: 148px;
}

.iphone-13-13-pro-1 .create-and-manage-payroll-seamlessly {
  left: 16px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 1793px;
  width: 359px;
}

.iphone-13-13-pro-1 .pay-your-employees-w {
  left: 38px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 1891px;
  width: 318px;
}

.iphone-13-13-pro-1 .overlap-group17 {
  align-items: center;
  background-image: url(../img/rectangle-28@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: 32px;
  min-height: 406px;
  padding: 31px 19px;
  position: absolute;
  top: 2019px;
  width: 330px;
}

.iphone-13-13-pro-1 .x22 {
  height: 124px;
  margin-right: 24.0px;
  margin-top: 11px;
  width: 117px;
}

.iphone-13-13-pro-1 .transcation-logs-expense-reports {
  align-self: flex-start;
  letter-spacing: 0;
  margin-top: 34px;
  min-height: 77px;
  text-align: center;
  width: 277px;
}

.iphone-13-13-pro-1 .track-expenses-sens {
  color: #515151;
  font-family: var(--font-family-craftwork_sans-medium);
  font-size: var(--font-size-xxs);
  font-weight: 500;
  letter-spacing: 0;
  margin-right: 15.0px;
  margin-top: 21px;
  min-height: 77px;
  text-align: center;
  width: 239px;
}

.iphone-13-13-pro-1 .overlap-group8 {
  height: 414px;
  left: 32px;
  position: absolute;
  top: 2922px;
  width: 330px;
}

.iphone-13-13-pro-1 .rectangle-29 {
  height: 406px;
  left: 0;
  position: absolute;
  top: 0;
  width: 330px;
}

.iphone-13-13-pro-1 .transact-securely-a {
  left: 24px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 214px;
  width: 282px;
}

.iphone-13-13-pro-1 .create-cards-for-ven {
  color: #575757;
  font-family: var(--font-family-craftwork_sans-medium);
  font-size: var(--font-size-xxs);
  font-weight: 500;
  left: 54px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 337px;
  width: 233px;
}

.iphone-13-13-pro-1 .x22-1 {
  height: 156px;
  left: 92px;
  position: absolute;
  top: 41px;
  width: 142px;
}

.iphone-13-13-pro-1 .billing-invoicing-and-accounting {
  left: 70px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 2659px;
  width: 244px;
}

.iphone-13-13-pro-1 .accounting-made-easy {
  left: 66px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 2764px;
  width: 259px;
}

.iphone-13-13-pro-1 .x22-2 {
  height: 127px;
  left: 127px;
  position: absolute;
  top: 2505px;
  width: 115px;
}

.iphone-13-13-pro-1 .overlap-group4 {
  height: 1509px;
  left: 25px;
  position: absolute;
  top: 3522px;
  width: 474px;
}

.iphone-13-13-pro-1 .whats-special {
  left: 49px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 425px;
}

.iphone-13-13-pro-1 .exchanges-the-best {
  left: 22px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 304px;
  width: 302px;
}

.iphone-13-13-pro-1 .convert-usd-to-btc {
  left: 35px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 436px;
  width: 259px;
}

.iphone-13-13-pro-1 .x24-1 {
  height: 156px;
  left: 102px;
  position: absolute;
  top: 105px;
  width: 146px;
}

.iphone-13-13-pro-1 .x24-2 {
  height: 165px;
  left: 109px;
  position: absolute;
  top: 592px;
  width: 131px;
}

.iphone-13-13-pro-1 .x24-3 {
  height: 158px;
  left: 102px;
  position: absolute;
  top: 1076px;
  width: 146px;
}

.iphone-13-13-pro-1 .simple-powerful-integrations {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 1270px;
  width: 359px;
}

.iphone-13-13-pro-1 .integrate-with-the-t {
  left: 24px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 1385px;
  width: 302px;
}

.iphone-13-13-pro-1 .rectangle-28 {
  height: 479px;
  left: 7px;
  position: absolute;
  top: 74px;
  width: 334px;
}

.iphone-13-13-pro-1 .rectangle-29-1 {
  height: 479px;
  left: 7px;
  position: absolute;
  top: 552px;
  width: 334px;
}

.iphone-13-13-pro-1 .collaborative-accounting {
  left: 23px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 792px;
  width: 302px;
}

.iphone-13-13-pro-1 .easily-monitor-crypt {
  left: 44px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 911px;
  width: 259px;
}

.iphone-13-13-pro-1 .rectangle-30 {
  height: 479px;
  left: 7px;
  position: absolute;
  top: 1030px;
  width: 334px;
}

.iphone-13-13-pro-1 .x24-4 {
  height: 326px;
  left: 52px;
  position: absolute;
  top: 5075px;
  width: 286px;
}

.iphone-13-13-pro-1 .make-qevy-your-super-power {
  left: 37px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5438px;
  width: 331px;
}

.iphone-13-13-pro-1 .overlap-group9 {
  align-items: center;
  background-image: url(../img/rectangle-28-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 65px;
  justify-content: flex-end;
  left: 61px;
  min-width: 271px;
  padding: 17px 55.5px;
  position: absolute;
  top: 3392px;
}

.iphone-13-13-pro-1 .get-started {
  align-self: flex-end;
  letter-spacing: 0;
  min-height: 30px;
  width: 125px;
}

.iphone-13-13-pro-1 .line-10 {
  height: 8px;
  margin-left: 8px;
  margin-top: 5.0px;
  width: 26px;
}

.iphone-13-13-pro-1 .overlap-group14 {
  align-items: flex-start;
  border-radius: 4px;
  display: flex;
  height: 67px;
  left: 59px;
  min-width: 273px;
  padding: 18px 56px;
  position: absolute;
  top: 5525px;
}

.iphone-13-13-pro-1 .get-started-1 {
  letter-spacing: 0;
  min-height: 30px;
  width: 125px;
}

.iphone-13-13-pro-1 .line-10-1 {
  align-self: center;
  height: 8px;
  margin-left: 8px;
  margin-top: 3.0px;
  width: 26px;
}

.iphone-13-13-pro-1 .as-flexible-as-you {
  left: 54px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 5648px;
  width: 284px;
}

.iphone-13-13-pro-1 .startup-plans {
  left: 62px;
  letter-spacing: 0;
  position: absolute;
  top: 5865px;
  width: 195px;
}

.iphone-13-13-pro-1 .surname {
  left: 56px;
  letter-spacing: 0;
  position: absolute;
  top: 5748px;
  width: 329px;
}

.iphone-13-13-pro-1 .place {
  left: 67px;
  letter-spacing: 0;
  position: absolute;
  top: 5982px;
  width: 329px;
}

.iphone-13-13-pro-1 .x10-m-in-monthly-volume {
  left: 67px;
  letter-spacing: 0;
  position: absolute;
  top: 6043px;
  width: 197px;
}

.iphone-13-13-pro-1 .post-first-raise {
  left: 67px;
  letter-spacing: 0;
  position: absolute;
  top: 5926px;
  width: 197px;
}

.iphone-13-13-pro-1 .you-define-your-metrics {
  left: 62px;
  letter-spacing: 0;
  position: absolute;
  top: 5809px;
  width: 251px;
}

.iphone-13-13-pro-1 .card-container {
  height: 392px;
  left: -45px;
  position: absolute;
  top: 6112px;
  width: 553px;
}

.iphone-13-13-pro-1 .card-10 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  left: 203px;
  min-height: 220px;
  padding: 25px 15px;
  position: absolute;
  top: 0;
  width: 350px;
}

.iphone-13-13-pro-1 .flex-row {
  align-items: center;
  display: flex;
  height: 14px;
  margin-left: 2px;
  min-width: 293px;
}

.iphone-13-13-pro-1 .qevy {
  letter-spacing: 0;
  min-height: 14px;
  width: 66px;
}

.iphone-13-13-pro-1 .visa {
  height: 1px;
  margin-left: 226px;
  margin-top: 0.5px;
  width: 1px;
}

.iphone-13-13-pro-1 .card-number {
  align-items: flex-start;
  display: flex;
  height: 22px;
  margin-left: 2px;
  margin-top: 63px;
  min-width: 207px;
}

.iphone-13-13-pro-1 .number {
  letter-spacing: 0;
  min-height: 22px;
  min-width: 37px;
}

.iphone-13-13-pro-1 .number-1 {
  letter-spacing: 0;
  margin-left: 20px;
  min-height: 22px;
  min-width: 37px;
}

.iphone-13-13-pro-1 .number-2 {
  letter-spacing: 0;
  margin-left: 21px;
  min-height: 22px;
  min-width: 34px;
}

.iphone-13-13-pro-1 .number-3 {
  letter-spacing: 0;
  margin-left: 21px;
  min-height: 22px;
}

.iphone-13-13-pro-1 .name-expiry {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 14px;
  margin-top: 55px;
  min-width: 318px;
}

.iphone-13-13-pro-1 .name {
  letter-spacing: 0;
  min-height: 14px;
  width: 62px;
}

.iphone-13-13-pro-1 .text {
  letter-spacing: 0;
  margin-left: 221px;
  min-height: 14px;
  width: 31px;
}

.iphone-13-13-pro-1 .card-3 {
  align-items: flex-end;
  background-image: url(../img/card-3-1@2x.svg);
  background-size: 100% 100%;
  border-radius: 10px;
  display: flex;
  height: 220px;
  left: 92px;
  min-width: 350px;
  padding: 9px 14.7px;
  position: absolute;
  top: 83px;
}

.iphone-13-13-pro-1 .overlap-group1 {
  height: 185px;
  position: relative;
  width: 319px;
}

.iphone-13-13-pro-1 .card-details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 3px;
  min-height: 168px;
  position: absolute;
  top: 0;
  width: 316px;
}

.iphone-13-13-pro-1 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 99px;
  min-width: 314px;
}

.iphone-13-13-pro-1 .flex-col {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 99px;
  width: 207px;
}

.iphone-13-13-pro-1 .qevy-1 {
  color: var(--black);
  font-family: var(--font-family-craftwork_sans-bold);
  font-size: var(--font-size-xxxs);
  font-weight: 700;
  letter-spacing: 0;
  min-height: 14px;
  width: 66px;
}

.iphone-13-13-pro-1 .card-number-1 {
  align-items: flex-start;
  display: flex;
  height: 22px;
  margin-top: 63px;
  min-width: 207px;
}

.iphone-13-13-pro-1 .ask-mastercard-logo {
  height: 31px;
  margin-left: 57px;
  width: 50px;
}

.iphone-13-13-pro-1 .name-expiry-1 {
  align-items: flex-start;
  display: flex;
  height: 14px;
  margin-top: 55px;
  min-width: 318px;
}

.iphone-13-13-pro-1 .ellipse-3 {
  height: 151px;
  left: 105px;
  position: absolute;
  top: 34px;
  width: 152px;
}

.iphone-13-13-pro-1 .ellipse-6 {
  height: 150px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 149px;
}

.iphone-13-13-pro-1 .card-7 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 220px;
  padding: 25px 15px;
  position: absolute;
  top: 172px;
  width: 350px;
}

.iphone-13-13-pro-1 .flex-row-2 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-right: 1.4px;
  min-width: 315px;
}

.iphone-13-13-pro-1 .visa-1 {
  align-self: flex-end;
  height: 14px;
  margin-left: 205px;
  width: 44px;
}

.iphone-13-13-pro-1 .overlap-group19 {
  align-items: center;
  background-image: url(../img/rectangle-28-2@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 65px;
  justify-content: flex-end;
  left: 61px;
  min-width: 271px;
  padding: 17px 55.5px;
  position: absolute;
  top: 6585px;
}

.iphone-13-13-pro-1 .overlap-group21 {
  height: 173px;
  left: -75px;
  position: absolute;
  top: 6712px;
  width: 540px;
}

.iphone-13-13-pro-1 .our-users-are-happy {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 540px;
}

.iphone-13-13-pro-1 .unsplashx6-s3-z0v-zxj4 {
  height: 58px;
  left: 99px;
  position: absolute;
  top: 106px;
  width: 58px;
}

.iphone-13-13-pro-1 .name-1 {
  left: 181px;
  letter-spacing: 0;
  position: absolute;
  top: 99px;
  width: 172px;
}

.iphone-13-13-pro-1 .ceo-enver {
  left: 181px;
  letter-spacing: 0;
  position: absolute;
  top: 151px;
}

.iphone-13-13-pro-1 .overlap-group5 {
  height: 115px;
  left: 19px;
  position: absolute;
  top: 6905px;
  width: 352px;
}

.iphone-13-13-pro-1 .rectangle-28-1 {
  height: 27px;
  left: 0;
  position: absolute;
  top: 72px;
  width: 177px;
}

.iphone-13-13-pro-1 .rectangle-31 {
  height: 27px;
  left: 182px;
  position: absolute;
  top: 47px;
  width: 154px;
}

.iphone-13-13-pro-1 .before-this-there-w {
  color: transparent;
  font-family: var(--font-family-craftwork_sans-medium);
  font-size: var(--font-size-xs);
  font-weight: 500;
  left: 6px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 346px;
}

.iphone-13-13-pro-1 .span1-1 {
  color: var(--white);
  font-family: var(--font-family-craftwork_sans-bold);
  font-weight: 700;
}

.iphone-13-13-pro-1 .span2 {
  color: var(--black);
  font-family: var(--font-family-craftwork_sans-bold);
  font-weight: 700;
}

.iphone-13-13-pro-1 .rectangle-29-2 {
  height: 1px;
  left: 439px;
  position: absolute;
  top: 6998px;
  width: 1px;
}

.iphone-13-13-pro-1 .overlap-group13 {
  height: 51px;
  left: 30px;
  position: absolute;
  top: 7209px;
  width: 340px;
}

.iphone-13-13-pro-1 .rectangle-28-2 {
  height: 26px;
  left: 78px;
  position: absolute;
  top: 25px;
  width: 226px;
}

.iphone-13-13-pro-1 .fable-runs-its-enti {
  color: transparent;
  font-family: var(--font-family-craftwork_sans-medium);
  font-size: var(--font-size-xs);
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 340px;
}

.iphone-13-13-pro-1 .span1 {
  color: var(--black);
}

.iphone-13-13-pro-1 .unsplash-qt0og-pnh-gwy {
  height: 58px;
  left: 43px;
  position: absolute;
  top: 7098px;
  width: 58px;
}

.iphone-13-13-pro-1 .mehbub-hussain {
  left: 123px;
  letter-spacing: 0;
  position: absolute;
  top: 7087px;
  width: 215px;
}

.iphone-13-13-pro-1 .first-engineer-fable {
  left: 123px;
  letter-spacing: 0;
  position: absolute;
  top: 7178px;
}

.iphone-13-13-pro-1 .overlap-group11 {
  height: 26px;
  left: 44px;
  position: absolute;
  top: 7440px;
  width: 345px;
}

.iphone-13-13-pro-1 .rectangle-32 {
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 159px;
}

.iphone-13-13-pro-1 .market-leader {
  color: var(--black);
  font-family: var(--font-family-craftwork_sans-medium);
  font-size: var(--font-size-xs);
  font-weight: 500;
  left: 5px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 340px;
}

.iphone-13-13-pro-1 .unsplash-qt0og-pnh-gwy-1 {
  height: 58px;
  left: 43px;
  position: absolute;
  top: 7348px;
  width: 58px;
}

.iphone-13-13-pro-1 .overlap-group3 {
  height: 74px;
  left: 123px;
  position: absolute;
  top: 7337px;
  width: 226px;
}

.iphone-13-13-pro-1 .name-2 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 226px;
}

.iphone-13-13-pro-1 .dhgeth {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 52px;
}

.iphone-13-13-pro-1 .unsplash-qt0og-pnh-gwy-2 {
  height: 58px;
  left: 43px;
  position: absolute;
  top: 7544px;
  width: 58px;
}

.iphone-13-13-pro-1 .overlap-group15 {
  height: 74px;
  left: 123px;
  position: absolute;
  top: 7533px;
  width: 226px;
}

.iphone-13-13-pro-1 .ansh-nanda {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 226px;
}

.iphone-13-13-pro-1 .ceo-un1feed {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 52px;
}

.iphone-13-13-pro-1 .overlap-group22 {
  height: 27px;
  left: 41px;
  position: absolute;
  top: 7642px;
  width: 278px;
}

.iphone-13-13-pro-1 .rectangle-28-3 {
  height: 27px;
  left: 98px;
  position: absolute;
  top: 0;
  width: 112px;
}

.iphone-13-13-pro-1 .un1-feed-is-built-on {
  color: transparent;
  font-family: var(--font-family-craftwork_sans-medium);
  font-size: var(--font-size-xxs);
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 278px;
}

.iphone-13-13-pro-1 .span-1 {
  color: var(--white);
}

.iphone-13-13-pro-1 .overlap-group18 {
  height: 122px;
  left: -75px;
  position: absolute;
  top: 7774px;
  width: 540px;
}

.iphone-13-13-pro-1 .join-the-conversation {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 540px;
}

.iphone-13-13-pro-1 .line-10-4 {
  height: 16px;
  left: 376px;
  position: absolute;
  top: 88px;
  width: 34px;
}

.iphone-13-13-pro-1 .join-discord-server {
  left: 176px;
  letter-spacing: 0;
  position: absolute;
  top: 83px;
  width: 187px;
}

.iphone-13-13-pro-1 .group-9 {
  align-items: flex-start;
  display: flex;
  height: 52px;
  left: 95px;
  min-width: 350px;
  position: absolute;
  top: 70px;
}

.iphone-13-13-pro-1 .image-1-traced {
  height: 52px;
  margin-left: -1px;
  margin-top: -1.21px;
  width: 52px;
}

.iphone-13-13-pro-1 .overlap-group2 {
  height: 52px;
  left: 20px;
  position: absolute;
  top: 7924px;
  width: 350px;
}

.iphone-13-13-pro-1 .line-11-1 {
  height: 16px;
  left: 280px;
  position: absolute;
  top: 18px;
  width: 34px;
}

.iphone-13-13-pro-1 .open-an-account {
  left: 81px;
  letter-spacing: 0;
  position: absolute;
  top: 13px;
  width: 187px;
}

.iphone-13-13-pro-1 .group-10 {
  height: 52px;
  left: 0;
  position: absolute;
  top: 0;
  width: 350px;
}

.iphone-13-13-pro-1 .overlap-group12 {
  height: 1081px;
  left: 40px;
  position: absolute;
  top: 8030px;
  width: 456px;
}

.iphone-13-13-pro-1 .x24-5 {
  height: 864px;
  left: 66px;
  position: absolute;
  top: 217px;
  width: 390px;
}

.iphone-13-13-pro-1 .rectangle-33 {
  background-color: var(--black);
  height: 442px;
  left: 0;
  position: absolute;
  top: 0;
  width: 310px;
}

.iphone-13-13-pro-1 .we-are-an-open-commu {
  left: 14px;
  letter-spacing: 0;
  position: absolute;
  top: 27px;
  width: 291px;
}

.iphone-13-13-pro-1 .line-10-5 {
  height: 1px;
  left: -13px;
  position: absolute;
  top: 9156px;
  width: 390px;
}

.iphone-13-13-pro-1 .qevy-2 {
  color: var(--white);
  font-family: var(--font-family-craftwork_sans-medium);
  font-size: 100px;
  font-weight: 500;
  left: 57px;
  letter-spacing: 0;
  position: absolute;
  top: 9238px;
  width: 711px;
}

.iphone-13-13-pro-1 .overlap-group20 {
  align-items: flex-start;
  border-radius: 4px;
  display: flex;
  height: 67px;
  left: 56px;
  min-width: 273px;
  padding: 18px 56px;
  position: absolute;
  top: 9401px;
}

.iphone-13-13-pro-1 .california-office-95 {
  left: 79px;
  letter-spacing: 0;
  position: absolute;
  top: 9634px;
}
/* screen - macbook-pro-14-2 */

.macbook-pro-14-2 {
  background-color: var(--black);
  height: 8683px;
  overflow: hidden;
  position: relative;
  width: 1512px;
}

.macbook-pro-14-2 .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 65px;
  min-height: 6242px;
  position: absolute;
  top: -85px;
  width: 1510px;
}

.macbook-pro-14-2 .flex-col-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 6081px;
  width: 1510px;
}

.macbook-pro-14-2 .overlap-group18-1 {
  height: 1086px;
  position: relative;
  width: 1510px;
}

.macbook-pro-14-2 .overlap-group10-1 {
  height: 1013px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1510px;
}

.macbook-pro-14-2 .qevyy {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 118px;
  width: 236px;
}

.macbook-pro-14-2 .about {
  left: 163px;
  letter-spacing: 0;
  position: absolute;
  top: 129px;
  width: 236px;
}

.macbook-pro-14-2 .product {
  left: 273px;
  letter-spacing: 0;
  position: absolute;
  top: 129px;
  width: 236px;
}

.macbook-pro-14-2 .pricing {
  left: 399px;
  letter-spacing: 0;
  position: absolute;
  top: 129px;
  width: 236px;
}

.macbook-pro-14-2 .discord {
  left: 513px;
  letter-spacing: 0;
  position: absolute;
  top: 129px;
  width: 236px;
}

.macbook-pro-14-2 .header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 43px;
  min-height: 1013px;
  position: absolute;
  top: 0;
  width: 1467px;
}

.macbook-pro-14-2 .overlap-group-container {
  align-items: center;
  display: flex;
  margin-top: -1px;
  min-width: 1462px;
}

.macbook-pro-14-2 .your-business-container {
  height: 303px;
  margin-top: 142.19px;
  position: relative;
  width: 580px;
}

.macbook-pro-14-2 .crypto-banking-for-your-business {
  color: var(--white);
  font-family: var(--font-family-craftwork_sans-bold);
  font-size: var(--font-size-xl);
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 580px;
}

.macbook-pro-14-2 .manage-your-business-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 192px;
  width: 580px;
}

.macbook-pro-14-2 .overlap-group1-1 {
  height: 845px;
  margin-left: 2px;
  position: relative;
  width: 880px;
}

.macbook-pro-14-2 .euro {
  height: 640px;
  left: 406px;
  position: absolute;
  top: 165px;
  width: 474px;
}

.macbook-pro-14-2 .dollar {
  height: 845px;
  left: 0;
  position: absolute;
  top: 0;
  width: 479px;
}

.macbook-pro-14-2 .trusted-by-1 {
  letter-spacing: 0;
  margin-left: 60px;
  margin-top: 92px;
  min-height: 77px;
  width: 580px;
}

.macbook-pro-14-2 .rectangle-5-1 {
  height: 65px;
  left: 43px;
  position: absolute;
  top: 684px;
  width: 271px;
}

.macbook-pro-14-2 .get-started-3 {
  left: 99px;
  letter-spacing: 0;
  position: absolute;
  top: 702px;
  width: 125px;
}

.macbook-pro-14-2 .line-1-1 {
  height: 8px;
  left: 232px;
  position: absolute;
  top: 715px;
  width: 26px;
}

.macbook-pro-14-2 .overlap-group4-1 {
  height: 37px;
  left: 1054px;
  position: absolute;
  top: 1028px;
  width: 222px;
}

.macbook-pro-14-2 .image-4-traced-1 {
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 203px;
}

.macbook-pro-14-2 .pro-1 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: italic;
  font-weight: 500;
  left: 152px;
  letter-spacing: 0;
  position: absolute;
  top: 9px;
  width: 70px;
}

.macbook-pro-14-2 .image-3-traced-1 {
  height: 73px;
  left: 816px;
  position: absolute;
  top: 1013px;
  width: 79px;
}

.macbook-pro-14-2 .traced-container {
  align-items: flex-end;
  display: flex;
  height: 38px;
  left: 110px;
  min-width: 526px;
  position: absolute;
  top: 1027px;
}

.macbook-pro-14-2 .image-2-traced-1 {
  height: 38px;
  width: 182px;
}

.macbook-pro-14-2 .enverlogo-1-1-traced-1 {
  height: 26px;
  margin-bottom: 2.95px;
  margin-left: 156px;
  width: 188px;
}

.macbook-pro-14-2 .x10 {
  height: 206px;
  margin-right: 80.34px;
  margin-top: 162px;
  width: 191px;
}

.macbook-pro-14-2 .the-first-platform-t-1 {
  align-self: flex-start;
  color: var(--white);
  font-family: var(--font-family-craftwork_sans-medium);
  font-size: 65px;
  font-weight: 500;
  letter-spacing: 0;
  margin-left: 39px;
  margin-top: 111px;
  min-height: 150px;
  text-align: center;
  width: 1314px;
}

.macbook-pro-14-2 .overlap-group7 {
  height: 3240px;
  margin-left: 25.92px;
  margin-top: 53px;
  position: relative;
  width: 1372px;
}

.macbook-pro-14-2 .rectangle-10 {
  height: 482px;
  left: 94px;
  position: absolute;
  top: 940px;
  width: 519px;
}

.macbook-pro-14-2 .rectangle-11 {
  height: 482px;
  left: 613px;
  position: absolute;
  top: 458px;
  width: 519px;
}

.macbook-pro-14-2 .core-features-1 {
  left: 94px;
  letter-spacing: 0;
  position: absolute;
  top: 344px;
  width: 906px;
}

.macbook-pro-14-2 .whats-special-1 {
  left: 786px;
  letter-spacing: 0;
  position: absolute;
  top: 1694px;
  width: 425px;
}

.macbook-pro-14-2 .as-flexible-as-you-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 3126px;
  width: 435px;
}

.macbook-pro-14-2 .rectangle-18 {
  height: 65px;
  left: 477px;
  position: absolute;
  top: 1531px;
  width: 271px;
}

.macbook-pro-14-2 .get-started-4 {
  left: 533px;
  letter-spacing: 0;
  position: absolute;
  top: 1549px;
  width: 125px;
}

.macbook-pro-14-2 .line-2 {
  height: 8px;
  left: 666px;
  position: absolute;
  top: 1562px;
  width: 26px;
}

.macbook-pro-14-2 .group-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 88px;
  min-height: 3133px;
  position: absolute;
  top: 0;
  width: 1284px;
}

.macbook-pro-14-2 .overlap-group2-1 {
  height: 869px;
  margin-left: 70.0px;
  position: relative;
  width: 966px;
}

.macbook-pro-14-2 .group-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 869px;
  position: absolute;
  top: 0;
  width: 966px;
}

.macbook-pro-14-2 .connect-your-wallet-1 {
  align-self: center;
  letter-spacing: 0;
  margin-right: 4.0px;
  min-height: 77px;
  text-align: center;
  width: 412px;
}

.macbook-pro-14-2 .flex-row-4 {
  align-items: flex-end;
  display: flex;
  height: 356px;
  margin-left: -0.46px;
  margin-top: 436px;
  min-width: 956px;
}

.macbook-pro-14-2 .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 356px;
  width: 413px;
}

.macbook-pro-14-2 .x24-6 {
  height: 151px;
  width: 148px;
}

.macbook-pro-14-2 .create-and-manage-payroll-seamlessly-1 {
  letter-spacing: 0;
  margin-left: 0.46px;
  margin-top: 37px;
  min-height: 77px;
  width: 359px;
}

.macbook-pro-14-2 .pay-your-employees-w-1 {
  letter-spacing: 0;
  margin-left: 1.46px;
  margin-top: 14px;
  min-height: 77px;
  width: 412px;
}

.macbook-pro-14-2 .expense-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 131px;
  min-height: 168px;
  width: 412px;
}

.macbook-pro-14-2 .transcation-logs-expense-reports-1 {
  letter-spacing: 0;
  min-height: 77px;
  width: 403px;
}

.macbook-pro-14-2 .track-expenses-sens-1 {
  color: #515151;
  font-family: var(--font-family-craftwork_sans-medium);
  font-size: var(--font-size-xs);
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 14px;
  min-height: 77px;
  width: 412px;
}

.macbook-pro-14-2 .x17 {
  height: 191px;
  left: 540px;
  position: absolute;
  top: 488px;
  width: 181px;
}

.macbook-pro-14-2 .flex-row-5 {
  align-items: center;
  display: flex;
  margin-left: 67.77px;
  margin-top: 138px;
  min-width: 711px;
}

.macbook-pro-14-2 .x16 {
  height: 196px;
  width: 178px;
}

.macbook-pro-14-2 .x21 {
  height: 176px;
  margin-left: 374px;
  margin-top: 4.34px;
  width: 159px;
}

.macbook-pro-14-2 .flex-row-6 {
  align-items: flex-start;
  display: flex;
  height: 77px;
  margin-left: 68.0px;
  margin-top: 11px;
  min-width: 912px;
}

.macbook-pro-14-2 .transact-securely-a-1 {
  letter-spacing: 0;
  min-height: 77px;
  width: 359px;
}

.macbook-pro-14-2 .billing-invoicing-and-accounting-1 {
  letter-spacing: 0;
  margin-left: 194px;
  min-height: 77px;
  width: 359px;
}

.macbook-pro-14-2 .flex-row-7 {
  align-items: flex-start;
  display: flex;
  height: 77px;
  margin-left: 68.0px;
  margin-top: 14px;
  min-width: 973px;
}

.macbook-pro-14-2 .create-cards-for-ven-1 {
  color: #575757;
  font-family: var(--font-family-craftwork_sans-medium);
  font-size: var(--font-size-xs);
  font-weight: 500;
  letter-spacing: 0;
  min-height: 77px;
  width: 420px;
}

.macbook-pro-14-2 .accounting-made-easy-1 {
  letter-spacing: 0;
  margin-left: 133px;
  min-height: 77px;
  width: 420px;
}

.macbook-pro-14-2 .flex-row-8 {
  align-items: flex-start;
  display: flex;
  height: 77px;
  margin-left: 3px;
  margin-top: 701px;
  min-width: 992px;
}

.macbook-pro-14-2 .exchanges-the-best-1 {
  letter-spacing: 0;
  min-height: 77px;
  width: 359px;
}

.macbook-pro-14-2 .collaborative-accounting-1 {
  letter-spacing: 0;
  margin-left: 318px;
  min-height: 77px;
  width: 315px;
}

.macbook-pro-14-2 .flex-row-9 {
  align-items: flex-start;
  display: flex;
  height: 77px;
  margin-left: 4px;
  margin-top: 14px;
  min-width: 1087px;
}

.macbook-pro-14-2 .convert-usd-to-btc-1 {
  letter-spacing: 0;
  min-height: 77px;
  width: 412px;
}

.macbook-pro-14-2 .easily-monitor-crypt-1 {
  letter-spacing: 0;
  margin-left: 263px;
  min-height: 77px;
  width: 412px;
}

.macbook-pro-14-2 .simple-powerful-integrations-1 {
  letter-spacing: 0;
  margin-top: 317px;
  min-height: 77px;
  width: 359px;
}

.macbook-pro-14-2 .integrate-with-the-t-1 {
  letter-spacing: 0;
  margin-top: 14px;
  min-height: 77px;
  width: 420px;
}

.macbook-pro-14-2 .group {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  height: 142px;
  margin-right: -32.0px;
  margin-top: 254px;
  min-width: 558px;
  padding: 0 9.2px;
}

.macbook-pro-14-2 .overlap-group-1 {
  align-self: flex-start;
  height: 68px;
  margin-top: 3.34px;
  position: relative;
  width: 54px;
}

.macbook-pro-14-2 .m {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.macbook-pro-14-2 .a {
  left: 22px;
  letter-spacing: 0;
  position: absolute;
  top: 18px;
}

.macbook-pro-14-2 .k {
  left: 38px;
  letter-spacing: 0;
  position: absolute;
  top: 32px;
}

.macbook-pro-14-2 .e {
  align-self: center;
  letter-spacing: 0;
  margin-bottom: 9.33px;
  min-height: 36px;
  min-width: 18px;
}

.macbook-pro-14-2 .text_label {
  align-self: center;
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 9.74px;
  min-height: 36px;
  min-width: 7px;
}

.macbook-pro-14-2 .price {
  align-self: center;
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 29.58px;
  min-height: 36px;
  min-width: 23px;
}

.macbook-pro-14-2 .e-1 {
  align-self: center;
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 51.76px;
  min-height: 36px;
  min-width: 18px;
}

.macbook-pro-14-2 .v {
  letter-spacing: 0;
  margin-bottom: 18.8px;
  margin-left: 3px;
  min-height: 36px;
  min-width: 18px;
}

.macbook-pro-14-2 .y {
  letter-spacing: 0;
  margin-bottom: 11.89px;
  margin-left: 3px;
  min-height: 36px;
  min-width: 18px;
}

.macbook-pro-14-2 .text_label-1 {
  letter-spacing: 0;
  margin-bottom: 7.67px;
  margin-left: 4px;
  min-height: 36px;
  min-width: 7px;
}

.macbook-pro-14-2 .y-1 {
  letter-spacing: 0;
  margin-bottom: 4.06px;
  margin-left: 4px;
  min-height: 36px;
  min-width: 22px;
}

.macbook-pro-14-2 .o {
  letter-spacing: 0;
  margin-bottom: 1.11px;
  margin-left: 4px;
  min-height: 36px;
  min-width: 18px;
}

.macbook-pro-14-2 .u {
  letter-spacing: 0;
  margin-bottom: 0.09px;
  margin-left: 4px;
  min-height: 36px;
  min-width: 17px;
}

.macbook-pro-14-2 .r {
  letter-spacing: 0;
  margin-bottom: 0.49px;
  margin-left: 5px;
  min-height: 36px;
  min-width: 13px;
}

.macbook-pro-14-2 .text_label-2 {
  letter-spacing: 0;
  margin-bottom: 1.6px;
  margin-left: 5px;
  min-height: 36px;
  min-width: 7px;
}

.macbook-pro-14-2 .price-1 {
  letter-spacing: 0;
  margin-bottom: 3.91px;
  margin-left: 4px;
  min-height: 36px;
  min-width: 20px;
}

.macbook-pro-14-2 .u-1 {
  letter-spacing: 0;
  margin-bottom: 8.33px;
  margin-left: 4px;
  min-height: 36px;
  min-width: 17px;
}

.macbook-pro-14-2 .p {
  letter-spacing: 0;
  margin-bottom: 14.26px;
  margin-left: 4px;
  min-height: 36px;
  min-width: 19px;
}

.macbook-pro-14-2 .e-2 {
  letter-spacing: 0;
  margin-bottom: 21.92px;
  margin-left: 3px;
  min-height: 36px;
  min-width: 18px;
}

.macbook-pro-14-2 .r-1 {
  align-self: center;
  letter-spacing: 0;
  margin-left: 3px;
  margin-top: 46.44px;
  min-height: 36px;
  min-width: 13px;
}

.macbook-pro-14-2 .text_label-3 {
  align-self: center;
  letter-spacing: 0;
  margin-left: 3px;
  margin-top: 33.29px;
  min-height: 36px;
  min-width: 7px;
}

.macbook-pro-14-2 .price-2 {
  align-self: center;
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 14.89px;
  min-height: 36px;
  min-width: 21px;
}

.macbook-pro-14-2 .overlap-group1-2 {
  align-self: flex-start;
  height: 84px;
  margin-top: -1.06px;
  position: relative;
  width: 68px;
}

.macbook-pro-14-2 .o-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 48px;
}

.macbook-pro-14-2 .w {
  left: 17px;
  letter-spacing: 0;
  position: absolute;
  top: 32px;
}

.macbook-pro-14-2 .e-3 {
  left: 39px;
  letter-spacing: 0;
  position: absolute;
  top: 15px;
}

.macbook-pro-14-2 .r-2 {
  left: 55px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.macbook-pro-14-2 .rectangle-7 {
  height: 479px;
  left: 14px;
  position: absolute;
  top: 1808px;
  width: 599px;
}

.macbook-pro-14-2 .rectangle-9 {
  height: 479px;
  left: 14px;
  position: absolute;
  top: 2286px;
  width: 599px;
}

.macbook-pro-14-2 .rectangle-8 {
  height: 479px;
  left: 612px;
  position: absolute;
  top: 1808px;
  width: 599px;
}

.macbook-pro-14-2 .x23 {
  height: 326px;
  left: 769px;
  position: absolute;
  top: 2377px;
  width: 286px;
}

.macbook-pro-14-2 .rectangle-19 {
  border-radius: 4px;
  height: 67px;
  left: 472px;
  position: absolute;
  top: 2924px;
  width: 273px;
}

.macbook-pro-14-2 .get-started-5 {
  left: 529px;
  letter-spacing: 0;
  position: absolute;
  top: 2943px;
  width: 125px;
}

.macbook-pro-14-2 .line-3 {
  height: 8px;
  left: 662px;
  position: absolute;
  top: 2956px;
  width: 26px;
}

.macbook-pro-14-2 .line-4 {
  height: 144px;
  left: 640px;
  position: absolute;
  top: 90px;
  width: 3px;
}

.macbook-pro-14-2 .x12 {
  height: 156px;
  left: 94px;
  position: absolute;
  top: 1892px;
  width: 146px;
}

.macbook-pro-14-2 .x14 {
  height: 199px;
  left: 744px;
  position: absolute;
  top: 1868px;
  width: 158px;
}

.macbook-pro-14-2 .x11 {
  height: 168px;
  left: 88px;
  position: absolute;
  top: 2354px;
  width: 156px;
}

.macbook-pro-14-2 .make-qevy-your-super-power-1 {
  left: 711px;
  letter-spacing: 0;
  position: absolute;
  top: 2726px;
  width: 447px;
}

.macbook-pro-14-2 .overlap-group16-1 {
  height: 392px;
  margin-right: 120.91px;
  margin-top: 46px;
  position: relative;
  width: 969px;
}

.macbook-pro-14-2 .card-9 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  left: 619px;
  min-height: 220px;
  padding: 25px 15px;
  position: absolute;
  top: 0;
  width: 350px;
}

.macbook-pro-14-2 .flex-row-3 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-right: 1.4px;
  min-width: 315px;
}

.macbook-pro-14-2 .qevy-3 {
  letter-spacing: 0;
  min-height: 14px;
  width: 66px;
}

.macbook-pro-14-2 .visa-2 {
  align-self: flex-end;
  height: 14px;
  margin-left: 205px;
  width: 44px;
}

.macbook-pro-14-2 .card-number-2 {
  align-items: flex-start;
  display: flex;
  height: 22px;
  margin-left: 2px;
  margin-top: 63px;
  min-width: 207px;
}

.macbook-pro-14-2 .number-4 {
  letter-spacing: 0;
  min-height: 22px;
  min-width: 37px;
}

.macbook-pro-14-2 .number-5 {
  letter-spacing: 0;
  margin-left: 20px;
  min-height: 22px;
  min-width: 37px;
}

.macbook-pro-14-2 .number-6 {
  letter-spacing: 0;
  margin-left: 21px;
  min-height: 22px;
  min-width: 34px;
}

.macbook-pro-14-2 .number-7 {
  letter-spacing: 0;
  margin-left: 21px;
  min-height: 22px;
}

.macbook-pro-14-2 .name-expiry-2 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 14px;
  margin-top: 55px;
  min-width: 318px;
}

.macbook-pro-14-2 .name-3 {
  letter-spacing: 0;
  min-height: 14px;
  width: 62px;
}

.macbook-pro-14-2 .text-1 {
  letter-spacing: 0;
  margin-left: 221px;
  min-height: 14px;
  width: 31px;
}

.macbook-pro-14-2 .group-6 {
  align-items: flex-start;
  display: flex;
  height: 353px;
  left: 0;
  min-width: 864px;
  position: absolute;
  top: 39px;
}

.macbook-pro-14-2 .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 284px;
  width: 340px;
}

.macbook-pro-14-2 .surname-1 {
  letter-spacing: 0;
  min-height: 37px;
  width: 329px;
}

.macbook-pro-14-2 .startup-plans-1 {
  letter-spacing: 0;
  margin-left: 6px;
  margin-top: 90px;
  min-height: 37px;
  width: 195px;
}

.macbook-pro-14-2 .place-1 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-top: 83px;
  min-height: 37px;
  width: 329px;
}

.macbook-pro-14-2 .card-container-1 {
  align-self: flex-end;
  height: 309px;
  margin-left: 76px;
  position: relative;
  width: 442px;
}

.macbook-pro-14-2 .card-3-1 {
  align-items: flex-end;
  background-image: url(../img/card-3@2x.svg);
  background-size: 100% 100%;
  border-radius: 10px;
  display: flex;
  height: 220px;
  left: 92px;
  min-width: 350px;
  padding: 9px 14.7px;
  position: absolute;
  top: 0;
}

.macbook-pro-14-2 .overlap-group-2 {
  height: 185px;
  position: relative;
  width: 319px;
}

.macbook-pro-14-2 .card-details-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 3px;
  min-height: 168px;
  position: absolute;
  top: 0;
  width: 316px;
}

.macbook-pro-14-2 .flex-row-10 {
  align-items: flex-start;
  display: flex;
  height: 99px;
  min-width: 314px;
}

.macbook-pro-14-2 .flex-col-5 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 99px;
  width: 207px;
}

.macbook-pro-14-2 .qevy-4 {
  color: var(--black);
  font-family: var(--font-family-craftwork_sans-bold);
  font-size: var(--font-size-xxxs);
  font-weight: 700;
  letter-spacing: 0;
  min-height: 14px;
  width: 66px;
}

.macbook-pro-14-2 .card-number-3 {
  align-items: flex-start;
  display: flex;
  height: 22px;
  margin-top: 63px;
  min-width: 207px;
}

.macbook-pro-14-2 .ask-mastercard-logo-1 {
  height: 31px;
  margin-left: 57px;
  width: 50px;
}

.macbook-pro-14-2 .name-expiry-3 {
  align-items: flex-start;
  display: flex;
  height: 14px;
  margin-top: 55px;
  min-width: 318px;
}

.macbook-pro-14-2 .ellipse-3-1 {
  height: 151px;
  left: 105px;
  position: absolute;
  top: 34px;
  width: 152px;
}

.macbook-pro-14-2 .ellipse-6-1 {
  height: 150px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 149px;
}

.macbook-pro-14-2 .card-7-1 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 220px;
  padding: 25px 15px;
  position: absolute;
  top: 89px;
  width: 350px;
}

.macbook-pro-14-2 .x10-m-in-monthly-volume-1 {
  left: 11px;
  letter-spacing: 0;
  position: absolute;
  top: 335px;
  width: 197px;
}

.macbook-pro-14-2 .post-first-raise-1 {
  left: 11px;
  letter-spacing: 0;
  position: absolute;
  top: 214px;
  width: 197px;
}

.macbook-pro-14-2 .you-define-your-metrics-1 {
  left: 6px;
  letter-spacing: 0;
  position: absolute;
  top: 93px;
  width: 251px;
}

.macbook-pro-14-2 .overlap-group17-1 {
  align-items: center;
  background-image: url(../img/rectangle-24@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 65px;
  justify-content: flex-end;
  margin-right: 128.91px;
  margin-top: 207px;
  min-width: 271px;
  padding: 17px 55.5px;
}

.macbook-pro-14-2 .get-started-6 {
  align-self: flex-end;
  letter-spacing: 0;
  min-height: 30px;
  width: 125px;
}

.macbook-pro-14-2 .line-8 {
  height: 8px;
  margin-left: 8px;
  margin-top: 5.0px;
  width: 26px;
}

.macbook-pro-14-2 .our-users-are-happy-1 {
  letter-spacing: 0;
  margin-left: 420.09px;
  margin-top: 249px;
  min-height: 114px;
  text-align: center;
  width: 540px;
}

.macbook-pro-14-2 .flex-row-11 {
  align-items: flex-start;
  display: flex;
  height: 84px;
  margin-right: 67.91px;
  margin-top: 77px;
  min-width: 1258px;
}

.macbook-pro-14-2 .unsplash {
  height: 78px;
  width: 78px;
}

.macbook-pro-14-2 .name-4 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-bottom: 2px;
  margin-left: 28px;
  min-height: 74px;
  width: 172px;
}

.macbook-pro-14-2 .ceo-enver-1 {
  align-self: center;
  letter-spacing: 0;
  margin-bottom: 20.0px;
  margin-left: 4px;
  min-height: 22px;
  min-width: 95px;
}

.macbook-pro-14-2 .unsplash-qt0og-pnh-gwy-3 {
  height: 78px;
  margin-left: 326px;
  width: 78px;
}

.macbook-pro-14-2 .overlap-group15-1 {
  align-self: flex-end;
  height: 74px;
  margin-left: 30px;
  position: relative;
  width: 447px;
}

.macbook-pro-14-2 .mehbub-hussain-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 396px;
}

.macbook-pro-14-2 .first-engineer-fable-1 {
  left: 279px;
  letter-spacing: 0;
  position: absolute;
  top: 17px;
}

.macbook-pro-14-2 .flex-col-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 860px;
  min-height: 484px;
  position: absolute;
  top: 6175px;
  width: 504px;
}

.macbook-pro-14-2 .overlap-group9-1 {
  height: 115px;
  margin-left: 9px;
  position: relative;
  width: 451px;
}

.macbook-pro-14-2 .rectangle-15 {
  height: 39px;
  left: 208px;
  position: absolute;
  top: 37px;
  width: 225px;
}

.macbook-pro-14-2 .rectangle-27 {
  height: 43px;
  left: 0;
  position: absolute;
  top: 72px;
  width: 106px;
}

.macbook-pro-14-2 .fable-runs-its-enti-1 {
  left: 7px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 444px;
}

.macbook-pro-14-2 .flex-row-12 {
  align-items: flex-start;
  display: flex;
  height: 93px;
  margin-top: 190px;
  min-width: 504px;
}

.macbook-pro-14-2 .overlap-group14-1 {
  align-self: flex-end;
  height: 74px;
  margin-left: 30px;
  position: relative;
  width: 396px;
}

.macbook-pro-14-2 .ansh-nanda-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 396px;
}

.macbook-pro-14-2 .ceo-un1-feed {
  left: 204px;
  letter-spacing: 0;
  position: absolute;
  top: 17px;
}

.macbook-pro-14-2 .overlap-group6 {
  align-self: center;
  height: 78px;
  margin-right: 4.0px;
  margin-top: 8px;
  position: relative;
  width: 458px;
}

.macbook-pro-14-2 .rectangle-16 {
  height: 43px;
  left: 162px;
  position: absolute;
  top: 0;
  width: 194px;
}

.macbook-pro-14-2 .un1-feed-is-built-on-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 1px;
  width: 458px;
}

.macbook-pro-14-2 .flex-col-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 147px;
  min-height: 1194px;
  position: absolute;
  top: 6175px;
  width: 642px;
}

.macbook-pro-14-2 .overlap-group5-1 {
  height: 151px;
  margin-left: 22px;
  position: relative;
  width: 488px;
}

.macbook-pro-14-2 .rectangle-17 {
  height: 43px;
  left: 0;
  position: absolute;
  top: 108px;
  width: 444px;
}

.macbook-pro-14-2 .rectangle-26 {
  height: 43px;
  left: 384px;
  position: absolute;
  top: 72px;
  width: 60px;
}

.macbook-pro-14-2 .before-this-there-w-1 {
  left: 4px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 484px;
}

.macbook-pro-14-2 .span1-2 {
  color: var(--white);
  font-family: var(--font-family-craftwork_sans-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
}

.macbook-pro-14-2 .span2-1 {
  color: var(--black);
  font-family: var(--font-family-craftwork_sans-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
}

.macbook-pro-14-2 .overlap-group19-1 {
  height: 142px;
  margin-left: 6px;
  margin-top: 167px;
  position: relative;
  width: 404px;
}

.macbook-pro-14-2 .overlap-group-3 {
  height: 142px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 400px;
}

.macbook-pro-14-2 .overlap-group11-1 {
  height: 127px;
  left: 12px;
  position: absolute;
  top: 15px;
  width: 388px;
}

.macbook-pro-14-2 .rectangle-23 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 87px;
  width: 211px;
}

.macbook-pro-14-2 .market-leader-1 {
  left: 4px;
  letter-spacing: 0;
  position: absolute;
  top: 87px;
  width: 216px;
}

.macbook-pro-14-2 .text-5 {
  left: 212px;
  letter-spacing: 0;
  position: absolute;
  top: 73px;
  width: 16px;
}

.macbook-pro-14-2 .name-5 {
  left: 94px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 263px;
}

.macbook-pro-14-2 .dhgeth-1 {
  left: 325px;
  letter-spacing: 0;
  position: absolute;
  top: 17px;
}

.macbook-pro-14-2 .unsplashf3vw-a-xn7pgg {
  height: 78px;
  left: 0;
  position: absolute;
  top: 0;
  width: 78px;
}

.macbook-pro-14-2 .text-4 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 87px;
  width: 16px;
}

.macbook-pro-14-2 .join-the-conversation-1 {
  letter-spacing: 0;
  margin-top: 302px;
  min-height: 114px;
  text-align: center;
  width: 540px;
}

.macbook-pro-14-2 .overlap-group8-1 {
  align-self: flex-end;
  height: 93px;
  margin-top: 89px;
  position: relative;
  width: 631px;
}

.macbook-pro-14-2 .line {
  height: 30px;
  left: 498px;
  position: absolute;
  top: 32px;
  width: 67px;
}

.macbook-pro-14-2 .rectangle-2 {
  height: 93px;
  left: 0;
  position: absolute;
  top: 0;
  width: 631px;
}

.macbook-pro-14-2 .join-discord-server-1 {
  left: 154px;
  letter-spacing: 0;
  position: absolute;
  top: 23px;
  width: 360px;
}

.macbook-pro-14-2 .image-1-traced-1 {
  height: 93px;
  left: 0;
  position: absolute;
  top: 0;
  width: 93px;
}

.macbook-pro-14-2 .overlap-group12-1 {
  align-self: flex-end;
  height: 93px;
  margin-top: 43px;
  position: relative;
  width: 631px;
}

.macbook-pro-14-2 .open-an-account-1 {
  left: 172px;
  letter-spacing: 0;
  position: absolute;
  top: 23px;
  width: 360px;
}

.macbook-pro-14-2 .we-are-an-open-commu-1 {
  left: 158px;
  letter-spacing: 0;
  position: absolute;
  top: 7542px;
  width: 710px;
}

.macbook-pro-14-2 .x2 {
  height: 864px;
  left: 936px;
  position: absolute;
  top: 6908px;
  width: 797px;
}

.macbook-pro-14-2 .flex-col-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 494px;
  position: absolute;
  top: 7976px;
  width: 1513px;
}

.macbook-pro-14-2 .line-5 {
  height: 1px;
  width: 1513px;
}

.macbook-pro-14-2 .flex-row-13 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 174px;
  margin-right: 6.02px;
  margin-top: 236px;
  min-width: 1144px;
}

.macbook-pro-14-2 .title {
  color: var(--white);
  font-family: var(--font-family-craftwork_sans-medium);
  font-size: 100px;
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 26px;
  min-height: 69px;
  width: 711px;
}

.macbook-pro-14-2 .california-office-95-1 {
  letter-spacing: 0;
  margin-left: 198px;
  min-height: 174px;
}

.macbook-pro-14-2 .overlap-group13-1 {
  align-items: flex-start;
  border-radius: 4px;
  display: flex;
  height: 67px;
  margin-left: 180.49px;
  margin-top: 15px;
  min-width: 273px;
  padding: 18px 56px;
}

.macbook-pro-14-2 .get-started-7 {
  letter-spacing: 0;
  min-height: 30px;
  width: 125px;
}

.macbook-pro-14-2 .line-9 {
  align-self: center;
  height: 8px;
  margin-left: 8px;
  margin-top: 3.0px;
  width: 26px;
}
@media screen and (max-width: 1511px) {
  .screen.macbook-pro-14-2 { 
    display: none;
   }
}
@media screen and (min-width: 1512px) {
  .screen.iphone-13-13-pro-1 { 
    display: none;
   }
}